<section class="card">
  <a href="/post/{{id}}">
    <header>{{title}}</header>
    {{!-- TODO: Add html for rendering each post card. --}}
    <div class="card-body">
      {{content}}
    </div>
  </a>
</section>
